<div class="container">
  <div class="blog-header" id="headerMain">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <a class="help-block-top text-decoration-none" href="#">Yardım & destek</a>
        <a class="help-block-top text-decoration-none ms-4" href="#">SSS</a>
        <a class="help-block-top text-decoration-none ms-4" href="#">Scoope</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="https://www.q-oasis.com/images/2icon-white-label.svg" width="100px" height="100px" />
      </div>
      <div class="col-md-6 mt-3 search-box-container">
        <form>
          <input class="form-control search-box focus:cursor-pointer" type="search" placeholder="Aranacak kelimeyi girin..."
            aria-label="Search" style="width: 512px" />
        </form>
      </div>
      <div class="col-md-4 mt-3">
        <a class="btn btn-sm btn-outline-secondary bi bi-person ms-2" href="#">
          Giriş yap</a>
        <a class="btn btn-sm btn-outline-secondary bi bi-cart ms-2" href="#">
          Sepetim</a>
        <a class="btn btn-sm btn-outline-secondary bi bi-balloon-heart-fill ms-2" href="#">
          Favorilerim</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-nav></app-nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
      <app-banner></app-banner>
    </div>
  </div>
  <div class="row">
      <app-banner-best></app-banner-best>
  </div>
  <div class="row">
    <div class="col-md-8">
      <app-companys></app-companys>
    </div>
    <div class="col-md-4">
      <app-vitrin></app-vitrin>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>